@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Env
@inject Microsoft.Extensions.Options.IOptions<Example.WebApplication.Settings.ProfileSettings> Profile
@inject Example.WebApplication.Services.CharacterService CharacterService
@{
    ViewData["Title"] = "View Injection";
}

<h2>Environment</h2>
<div>@Env.EnvironmentName</div>

<h2>Option</h2>
<div><select asp-items="Profile.Value.Genders.Select(x => new SelectListItem { Text = x, Value = x })"></select></div>

<h2>User Service</h2>
<div>@CharacterService.QueryCharacterList().Count</div>
