@inject Example.WebApplication.Services.ScopedObject scopedObject
@{
    ViewData["Title"] = "Scoped Lifetime";
}

<h2>Result</h2>
@if (Model == scopedObject)
{
    <div>Scoped Lifetime object matched.</div>
}
